capston-customermanagmentbackup/src/main/mule/implimentation-ws.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="789962c5-5a39-46c7-aaa2-b2005387675e" >
		<wsc:connection wsdlLocation="http://api.icraftsoft.net:5858/ws/users.wsdl" service="UserPortService" port="UserPortSoap11" address="http://api.icraftsoft.net:5858/ws" />
	</wsc:config>
	<flow name="GetAllUserFlow" doc:id="78a81af0-5320-45f7-9f20-95540971a266" >
		<wsc:consume doc:name="Consume" doc:id="2abb5bf9-12c6-48c9-9051-4528cfb3df68" config-ref="Web_Service_Consumer_Config" operation="GetAllUsers"/>
		<ee:transform doc:name="Transform Message" doc:id="0a7710be-fe93-49cd-b0b2-e61409400a0d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.body.GetAllUsersResponse]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="GetSingleUserFlow" doc:id="0dff029e-12ec-4567-bcfb-bdacad9287dc" >
		<ee:transform doc:name="Transform Message" doc:id="b081ceb6-c677-457e-8115-ea37d0be9e0a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.craftsoftware.com/users
---
{
	ns0#GetUserRequest: {
		ns0#id: attributes.uriParams.ID as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="GetUser" doc:name="Consume" doc:id="4ef3becb-40fc-4331-9cda-56085e0421d5" config-ref="Web_Service_Consumer_Config" />
		<ee:transform doc:name="Transform Message" doc:id="cbf00608-51bc-480a-a563-9f6aeac2cb99" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.body.GetUserResponse]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="CreateUserFlow" doc:id="f1624583-c395-4134-9f9d-0839f66b9f3c" >
		<ee:transform doc:name="Transform Message" doc:id="8a33b11c-b226-41cd-a76d-45a35a39ef23" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.craftsoftware.com/users
---
{
	ns0#CreateUserRequest: {
		ns0#CreateUser: {
			ns0#fist: payload.first,
			ns0#last: payload.last,
			ns0#department: payload.departement
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="CreateUser" doc:name="Consume" doc:id="c5054aae-e99b-4cda-8744-0218551071eb" config-ref="Web_Service_Consumer_Config" />
		<ee:transform doc:name="Transform Message" doc:id="7cbdb2cd-55d7-4f1e-b3f8-b40cd73515b3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{"message": " user created"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="updateUserFlow" doc:id="62203407-f3a9-4d2f-8812-56013b2ca588" >
		<ee:transform doc:name="Transform Message" doc:id="c18a5931-31fa-4b56-8da3-ee26272062c9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.craftsoftware.com/users
---
{
	ns0#UpdateUserRequest: {
		ns0#User: {
			ns0#id: payload.ID,
			ns0#fist: payload.first,
			ns0#last: payload.last,
			ns0#department: payload.departement
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="UpdateUser" doc:name="Copy_of_Consume" doc:id="c7b375a1-96b9-41c7-bbdc-7c097f40045f" config-ref="Web_Service_Consumer_Config" />
		<ee:transform doc:name="Transform Message" doc:id="c8d44caf-e9d9-4445-9fc1-8fd766235f08" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{"message": "user updated"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="DeletUserFlow" doc:id="2f6b34ea-c856-40f4-b1b6-7f8dd468290a" >
		<ee:transform doc:name="Transform Message" doc:id="d97ad234-93d0-4cb9-953c-8a9ddc896482" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.craftsoftware.com/users
---
{
	ns0#DeleteUserRequest: {
		ns0#id: attributes.uriParams.ID as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="DeleteUser" doc:name="Consume" doc:id="53c5b3e3-3358-4ef7-b3b5-4e792f42d549" config-ref="Web_Service_Consumer_Config" />
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="a7c4c9b5-83f2-4405-b3f3-3ba6ca40b22d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{"message": "user Deleted"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
